<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(text)">
    <meta charset="UTF-8" />
    <title th:text="${text}">Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
</head>
<body>
<header th:fragment="header" >
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/main}">Касса</a>
            </li>
            <li class="nav-item" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                <a class="nav-link" th:href="@{/shops}">Магазины</a>
            </li>
            <li class="nav-item" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                <a class="nav-link" th:href="@{/products}">Товары</a>
            </li>
            <li class="nav-item" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                <a class="nav-link" th:href="@{/accounts}">Сотрудники</a>
            </li>
            <li class="nav-item" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                <a class="nav-link" th:href="@{/terminals}">Терминалы</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto navbar-right">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/accounts/current}" th:text ="${#authentication.principal.username}"></a>
            </li>
            <li class="nav-item " th:if="${#authorization.expression('isAuthenticated()')}">
                <a class="nav-link" th:href="@{/logout}" onclick="$('#form').submit();">Выйти</a>
                <form style="visibility: hidden" id="form" method="post" th:action="@{/logout}"></form>
            </li>
        </ul>
    </nav>
</header>
<div class="min-vh-100 d-flex flex-column
                justify-content-between" th:fragment="footer">
    <footer class="footer fixed-bottom">
        <div class="footer-copyright text-center py-1">© 2022 Copyright:
            <a href="mailto: pablo11grande@gmail.com"> pablo11grande@gmail.com</a>
        </div>
    </footer>
</div>

</body>
</html>
