<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/layout :: head(text='POS-кассир | Аккаунт')"></div>
<body>
<div th:replace="fragments/layout :: header"></div>
<main>
    <section class="container">
        <div class="row">
            <div class="col-md-auto">
                <h3>Обновить инфо:</h3>
                <form class="form-group"
                      th:action="@{${owner.id==employee.id ? '/accounts/current':'/accounts/{id}'}(id=${employee.id})}" method="POST">
                    <div class="form-group">
                        <div th:object="${accountInfo}">
                            <label for="firstName">Имя:</label>
                            <input type="text" id="firstName" name="firstName" class="form-control form-control-sm"
                                   placeholder="" maxlength="50"/>
                            <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                               th:style="'color:red'">fname
                                validation</p>
                            <label for="lastName">Фамилия:</label>
                            <input type="text" id="lastName" name="lastName"
                                   class="form-control form-control-sm"
                                   placeholder="" maxlength="50"/>
                            <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:style="'color:red'">
                                lname validation</p>
                            <label for="telephoneNumber">Телефон (10 цифр без 8):</label>
                            <input type="tel" pattern="^(([0-9]){10})$" id="telephoneNumber"
                                   name="telephoneNumber"
                                   class="form-control form-control-sm" placeholder=""/>
                            <p th:if="${#fields.hasErrors('telephoneNumber')}" th:errors="*{telephoneNumber}"
                               th:style="'color:red'">tel validation</p>
                            <label for="email">Почта:</label>
                            <input type="email" id="email" name="email"
                                   class="form-control form-control-sm" placeholder=""/>
                            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:style="'color:red'">email
                                validation</p>
                        </div>
                        <div th:if="${owner.id} != ${employee.id}">
                            <label for="shop">Магазин:</label>
                            <select class="form-control form-control-sm" id="shop" name="shop">
                                <option th:each="shop : ${owner.shops}" th:value="${shop.id}"
                                        th:text="${shop.name} + ' ' +  ${shop.address}"></option>
                            </select>
                            <label for="authority">Роль:</label>
                            <select class="form-control form-control-sm" id="authority" name="authority">
                                <option th:each="authority : ${authorities}" th:value="${authority}"
                                        th:text="${authority.explanation}"></option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark">Сохранить изменения</button>
                </form>

            </div>


            <div class="col-md-auto">
                <h3 th:text="${employee.username}" align="center">Account</h3>
                <table class="table table-bordered ">
                    <tr>
                        <td>ФИО:</td>
                        <td th:text="${employee.accountInfo.firstName} + ' ' + ${employee.accountInfo.lastName}"></td>
                    </tr>
                    <tr>
                        <td>Магазин:</td>
                        <td th:text="${!employee.shops.empty} ? ${employee.shops[0].name}: ' '"></td>
                    </tr>
                    <tr>
                        <td>Роль:</td>
                        <td th:text="${employee.authority.explanation}"></td>
                    </tr>
                    <tr>
                        <td>Телефон:</td>
                        <td th:text="${employee.accountInfo.telephoneNumber}"></td>
                    </tr>
                    <tr>
                        <td>Почта:</td>
                        <td th:text="${employee.accountInfo.email}"></td>
                    </tr>
                    <tr>
                        <td>Терминал в работе:</td>
                        <td th:text="${employee.workTerminalTid}"></td>
                    </tr>
                </table>

            </div>
            <div class="col-md-auto">
                <h3>Сменить пароль:</h3>
                <form class="form-group"
                      th:action="@{${owner.id==employee.id ? '/accounts/current/newpwd':'/accounts/{id}/newpwd'}(id=${employee.id})}"
                      th:object="${account}" method="POST">
                    <div class="form-group">

                        <div th:if="${owner.id} == ${employee.id}">
                            <label for="password">Старый пароль:</label>
                            <input type="password" id="password" name="password"
                                   class="form-control form-control-sm"
                                   placeholder="" minlength="8" required/>
                        </div>
                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:style="'color:red'">
                            PWD validation</p>
                        <label for="newPassword">Новый пароль:</label>
                        <input type="password" id="newPassword" name="newPassword" class="form-control form-control-sm"
                               placeholder="" minlength="8" required/>
                        <label for="repeatPwd">Повторите пароль:</label>
                        <input type="password" id="repeatPwd" name="repeatPwd" class="form-control form-control-sm"
                               placeholder="" minlength="8" required/>
                    </div>
                    <button type="submit" class="btn btn-dark">Сменить пароль</button>
                </form>
            </div>
        </div>
    </section>
    <div th:replace="fragments/layout :: footer"></div>
</main>
</body>
<div th:replace="fragments/layout :: forToggleScript"></div>
</html>