<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/layout :: head(text='POS-кассир | Сотрудники')"></div>
<body>
<div th:replace="fragments/layout :: header"></div>

<section class="container-fluid">
    <div class="row">
        <div class="col-md-auto">
            <h3>Добавить сотрудника:</h3>
            <form class="form-group" th:action="@{/accounts}" th:object="${account}" method="POST">
                <div class="form-group">
                    <label for="username">Логин:</label>
                    <input type="text" id="username" name="username" class="form-control"
                           placeholder="" minlength="8" required/>
                    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" th:style="'color:red'">Username
                        validation</p>
                    <label for="password">Задать пароль для входа:</label>
                    <input type="password" id="password" name="password" class="form-control"
                           placeholder="" minlength="8" required/>
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:style="'color:red'">PWD
                        validation</p>
                    <div th:object="${accountInfo}">
                        <label for="firstName">Имя:<span>&#42;</span></label>
                        <input type="text" id="firstName" name="firstName"
                               class="form-control form-control-sm"
                               placeholder="Иван" maxlength="50"/>
                        <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:style="'color:red'">
                            fname
                            validation</p>
                        <label for="lastName">Фамилия:<span>&#42;</span></label>
                        <input type="text" id="lastName" name="lastName"
                               class="form-control form-control-sm" placeholder="Иванов" maxlength="50"/>
                        <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:style="'color:red'">lname
                            validation</p>
                        <label for="telephoneNumber">Телефон:</label>
                        <input type="tel" pattern="^(([0-9]){10})$" id="telephoneNumber" name="telephoneNumber"
                               class="form-control" placeholder="" required/>
                        <p th:if="${#fields.hasErrors('telephoneNumber')}" th:errors="*{telephoneNumber}"
                           th:style="'color:red'">tel
                            validation</p>

                    </div>
                    <label for="shop" th:text="${owner.shops.empty}?'Создайте магазин!':'Магазин:'">Магазин:</label>
                    <select class="form-control" id="shop" name="shop">
                        <option th:each="shop : ${owner.shops}" th:value="${shop.id}"
                                th:text="${shop.name} + ' ' +  ${shop.address}"></option>
                    </select>
                    <label for="authority">Роль:</label>
                    <select class="form-control" id="authority" name="authority">
                        <option th:each="authority : ${authorities}" th:value="${authority}"
                                th:text="${authority.explanation}"></option>
                    </select>
                </div>
                <div th:if="${owner.shops.empty || owner.shops==null}">
                    <button type="submit" class="btn btn-secondary" disabled>Сохранить</button>
                </div>
                <div th:if="${!owner.shops.empty && owner.shops!=null}">
                    <button type="submit" class="btn btn-dark">Сохранить</button>
                </div>
                <small><span>&#42;</span> - поля необязательные к заполнению</small>
            </form>
        </div>
        <div class="col-md-auto">
            <h3>Сотрудники:</h3>
            <table class="table table-bordered table-striped text-center">
                <thead>
                <tr>
                    <td>Логин</td>
                    <td>ФИО</td>
                    <td>Телефон</td>
                    <td>Магазин</td>
                    <td>Роль</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${employees.empty}">
                    <td colspan="7">Нет добавленных сотрудников</td>
                </tr>
                <tr th:each="employee : ${employees}">
                    <td><a th:text="${employee.username}" th:href="@{/accounts/{id}(id=${employee.id})}"></a></td>
                    <td th:text="${employee.accountInfo != null}? ${employee.accountInfo.firstName} +' '+ ${employee.accountInfo.lastName}:' '">
                        Firstname
                    </td>
                    <td th:text="${employee.accountInfo != null}? ${employee.accountInfo.telephoneNumber}:' '">Tel</td>
                    <td th:text="${employee.shops[0].name}"></td>
                    <td th:text="${employee.authority.explanation}">Authority</td>
                    <td>
                        <form th:action="@{/shops/{shopId}/accounts/{accountId}(shopId=${employee.shops[0].id}, accountId=${employee.id})}"
                              th:method="delete"><input
                                type="submit" value="Удалить"/></form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<div th:replace="fragments/layout :: footer"></div>
</body>
</html>