<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/layout :: head(text='POS-кассир | Вход')"></div>
<body th:style="'background: url(images/pos_terminal.jpg)'">
<section class="container" >
    <div class="d-flex align-items-center justify-content-center" th:style="'height:100vh'">
        <div class="col-md-auto" th:style="'background-color: #F1F2F3'">
            <h1> </h1>
            <h1><img src="../images/logo.png" class="img-fluid" width="50" height="50" style="vertical-align:bottom">Эквайринг Кассир</h1>
            <p th:if="${loginError}" class="error">Неверный логин/пароль</p>
            <form class="form-group mt-4" th:action="@{/login.html}" method="post" >
                <div class="form-group">
                    <label for="username">Логин</label>:
                    <input type="text" class="form-control" id="username" name="username" autofocus="autofocus"
                           required/> <br/>
                    <label for="password">Пароль</label>:
                    <input type="password" class="form-control" id="password" name="password"/> <br/>
                </div>
                <button type="submit" class="btn btn-dark btn-lg btn-block">Вход</button>
                <a style="float:right;" th:href="@{/accounts/registration}" role="button" class="btn btn-light btn-lg btn-block mb-3" aria-pressed="true">Регистрация</button></a>
            </form>
        </div>
    </div>
</section>
</body>
</html>