<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/layout :: head(text='POS-кассир | Касса')"></div>
<body>
<div th:replace="fragments/layout :: header"></div>

<main>
    <section class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-*-*">
                <h3 th:if="${terminal==null}">Добавьте и выберите рабочий терминал</h3>
                <form class="form-inline"
                      th:if="${account.authority.explanation!='Администратор'&&!account.shops[0].terminals.empty}"
                      th:action="@{/accounts/current/terminals/workingterminal}" method="POST">
                    <div class="form-group mr-2">
                        <select class="form-control" name="terminalId">
                            <option th:each="term : ${account.shops[0].terminals}" th:value="${term.id}"
                                    th:text="${term.tid}+ ' Магазин ' + ${account.shops[0].name} + ' '+ ${account.shops[0].address}"></option>
                        </select>
                    </div>
                    <button class="btn btn-dark" type="submit">Выбрать кассу</button>
                </form>
            </div>
        </div>
        <div class="row" th:if="${terminal!=null}">
            <div class="col-md-auto">

                <form class="form-group" id="formForAddingProductsInCart" th:method="POST">
                    <h5 align="center">Отсканируйте товар или добавьте из каталога</h5>
                    <table th:if="${terminal!=null}" class="table table-stripped text-center" id="dataTable"
                           data-page-length='3'
                           data-order='[[1, "desc"]]'>
                        <thead>
                        <tr>
                            <td></td>
                            <td>Наименование</td>
                            <td>Артикул</td>
                            <td>Цена</td>
                            <td>Кол-во</td>
                            <td>Barcode</td>
                        </tr>
                        </thead>

                        <tbody>

                        <tr th:if="${terminal.shop.products.empty}">
                            <td colspan="5">Нет добавленных товаров</td>
                        </tr>
                        <tr id="rows" th:each="prod : ${terminal.shop.products}" th:if="${prod.balance > 0}">
                            <td><input type="checkbox" name="prods" th:value="${prod.id}"/></td>
                            <td th:text="${prod.name}">Name</td>
                            <td th:text="${prod.vendorCode}">VendorCode</td>
                            <td th:text="${prod.sellingPrice}">sellingPrice</td>
                            <td>
                                <th:block
                                        th:if="${prod.type.explanation=='Услуга'|| prod.measurementUnit.fullExplanation=='Штука'||prod.measurementUnit.fullExplanation=='Единица' ||prod.measurementUnit.fullExplanation=='Упаковка'||prod.measurementUnit.fullExplanation=='Дробь'}">
                                    <input type="number" th:min="1" th:max="${prod.balance}"
                                           name="quantity" class="form-control form-control-sm w-30"
                                           th:placeholder="'0 '+ ${prod.measurementUnit.shortExplanation}"
                                           style="width: 5em"/>
                                </th:block>
                                <th:block
                                        th:if="${prod.measurementUnit.fullExplanation=='Килограмм'||prod.measurementUnit.fullExplanation=='Литр'}">
                                    <input type="text"
                                           name="quantity" class="form-control form-control-sm w-30"
                                           th:placeholder="'0 '+ ${prod.measurementUnit.shortExplanation}"
                                           pattern="^[0-9]+(?:\.[0-9]+)?$" style="width: 5em"/>
                                </th:block>
                            </td>
                            <td th:text="${prod.barCode}">Barcode</td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-outline-dark btn-lg btn-block my-2"
                            th:formaction="@{/shops/{shopId}/products/addtocart(shopId=${terminal.shop.id})}">Добавить в
                        чек
                    </button>
                </form>
                <div class="list-group">
                    <h4 align="center">Чек</h4>
                    <th:block th:if="${!productsInCheque.empty}"
                              th:each="element, iterStat : ${productsInCheque}"
                              th:with="amount=${productsAmountsInCheque[iterStat.index]}, price = ${#numbers.formatDecimal(element.sellingPrice * productsAmountsInCheque[iterStat.index], 1, 'COMMA', 2, 'POINT')}">
                        <a name="productInCart"
                           th:href="@{/shops/{shopId}/productcart/{productId}/amount/{productAmount}(shopId=${terminal.shop.id}, productId=${element.id}, productAmount=${amount})}"
                           class="list-group-item list-group-item-action list-group-item-success"
                           th:text="${element.name}+' | '+ ${amount} + ' '+ ${element.measurementUnit.shortExplanation} + ' | ' + ${price}+ ' р.  (Кликните, чтобы удалить)'"></span></a>
                        <span hidden name="prodName" th:text="${element.id}"></span>
                        <span hidden name="prodAmount" th:text="${amount}"></span>
                    </th:block>
                    <div class="d-flex justify-content-between">
                        <a th:href="@{/shops/{shopId}/productcart/delete(shopId=${terminal.shop.id})}">Очистить чек</a>
                        <h6 align="right">Итого:</h6>
                    </div>
                    <h6 align="right" id="totalPrice" th:text="${chequeTotalPrice}" th:style="'color:red'"></h6>

                    <div class="btn-toolbar mb-3" role="toolbar">
                        <div class="btn-group btn-lg btn-block my-2" role="group">
                            <button id="paymentBtn" onclick="makePayment()" class="btn btn-dark"
                            >Оплата
                            </button>
                            <button id="refundBtn" onclick="makeRefund()" class="btn btn-dark">
                                Возврат
                            </button>
                        </div>
                    </div>

                </div>

                <button onclick="getTransactionsStat()" class="btn btn-outline-dark btn-lg btn-block my-2" data-toggle="modal" data-target="#cashReport">
                    Отчеты
                </button>

                <!-- Modal -->
                <div class="modal fade" id="cashReport" tabindex="-1" role="dialog" aria-labelledby="cashReportTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="cashReportTitle" th:text="Отчеты">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h3 id="currentBalance"></h3>
                                <h5 id="salesStat"></h5>
                                <h5 id="refundsStat"></h5>
                            </div>
                            <div class="modal-footer">
                                <div class="btn-toolbar mb-3" role="toolbar">
                                    <div class="btn-group btn-lg btn-block" role="group">
                                        <button id="xReportBtn" onclick="makeXreport()" class="btn btn-dark"
                                        >Отчет без гашения
                                        </button>
                                        <button id="zReportBtn" onclick="closeDay()" class="btn btn-dark">
                                            Закрытие смены
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-auto" >
                <div id="jumbotronChequeArea" style="'background-color: #F1F2F3'"  class="jumbotron d-none">
                    <table lass="table table-hover table-responsive table-sm">
                        <tbody>
                        <tr>
                            <td style="white-space: pre-wrap;font-size:10px" id="responseCheque"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

</main>
<script th:inline="javascript"> var contextRoot = /*[[@{/}]]*/ '';</script>
<script th:src="@{/javascript/transactions.js}" defer></script>
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" language="javascript"
        src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
$(document).ready( function () {
$('#dataTable').DataTable();
} );

$('#dataTable').dataTable( {
"buttons": [
            'colvis'
        ],
  "lengthMenu": [ [3], [3] ],
  "columnDefs": [ {
      "targets": 0,
      "searchable": false,
      "orderable": false
    },
     {
      "targets": 2,
      "searchable": false,
      "orderable": false
    },
    {
      "targets": 4,
      "searchable": false,
      "orderable": false
    },
    {
      "targets": 5,
      "searchable": true,
      "visible": false
    }],

    "language": {
        "sProcessing":    "Вычисляю...",
        "sLengthMenu":    "",
        "sZeroRecords":   "Товар не найден или на остатке ноль",
        "sEmptyTable":    "Товар не найден или на остатке ноль",
        "sInfo":          "",
        "sInfoEmpty":     "",
        "sInfoFiltered":  "",
        "sInfoPostFix":   "",
        "sSearch":        "Поиск по штрих-коду/наименованию:",
        "sUrl":           "",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Загружаю...",
        "oPaginate": {
            "sFirst":    "",
            "sLast":    "",
            "sNext":    "",
            "sPrevious": ""
        },
        "oAria": {
            "sSortAscending":  ": Упорядочить по возрастанию",
            "sSortDescending": ": Упорядочить по убыванию"
        }
    }
} );

</script>
<div th:replace="fragments/layout :: footer"></div>
</body>
</html>
