<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/layout :: head(text='Operations')"></div>
<body>
<div th:replace="fragments/layout :: header"></div>

<main>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>Hi</h1>
            <div  th:if="${terminal==null}">
                <p>Please, set working terminal in settings</p>
            </div>
            <p id="transactionInfo"></p>
        </div>
    </div>

    <section class="container">
        <p>
            <button onclick="makePayment()">Make payment</button>
        </p>
        <h3>Cheques:</h3>
        <div  th:if="${terminal!=null && !transactions.empty}">
            <span th:text="${transactions[#lists.size(transactions) - 1].cheque}">terminal last transaction</span>
        </div>
    </section>
</main>
<script th:inline="javascript"> var contextRoot = /*[[@{/}]]*/ '';</script>
<script th:src="@{/javascript/transactions.js}" defer></script>
<div th:replace="fragments/layout :: footer"></div>
</body>
</html>
