<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/layout :: head(text='Operations')"></div>
<body>
<div th:replace="fragments/layout :: header"></div>

<main>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>Hi</h1>
            <div th:if="${account.workTerminalTid==null}">
                <p>Please, add and set working terminal in settings</p>
            </div>
            <p id="transactionInfo"></p>

            <div th:if="${account.authority.explanation!='Администратор'}">
                <form class="form-inline" th:action="@{/accounts/current/terminals/workingterminal}" method="POST">
                    <div class="form-group mx-sm-3 mb-5">
                        <select class="form-control" name="terminalId">
                            <option th:each="term : ${account.shops[0].terminals}" th:value="${term.id}"
                                    th:text="${term.tid}+ ' Магазин ' + ${account.shops[0].name} + ' '+ ${account.shops[0].address}"></option>
                        </select>
                    </div>
                    <button class="btn btn-dark mb-5" type="submit">Встать за кассу</button>
                </form>
            </div>

        </div>
    </div>

    <section class="container">
        <p>
            <button onclick="makePayment()">Make payment</button>
        </p>
        <h3>Cheques:</h3>
        <div  th:if="${terminal!=null && !terminal.transactions.empty}">
            <span th:text="${terminal.transactions[#lists.size(terminal.transactions) - 1].cheque}">terminal last transaction</span>
        </div>
    </section>
</main>
<script th:inline="javascript"> var contextRoot = /*[[@{/}]]*/ '';</script>
<script th:src="@{/javascript/transactions.js}" defer></script>
<div th:replace="fragments/layout :: footer"></div>
</body>
</html>
