<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/layout :: head(text='POS-кассир | База товаров')"></div>
<body>
<div th:replace="fragments/layout :: header"></div>
<main>
    <section class="container-fluid">
        <div class="row">
            <div class="col-md-auto">
                <form class="form-group" th:action="@{/products}" th:object="${product}" method="POST">
                        <h3>Укажите магазин:</h3>
                        <select class="form-control form-control-sm" id="shop" name="shop"
                                th:onchange="shopVisibility(this.value)">
                            <option value="0"></option>
                            <option th:each="shop : ${account.shops}" th:value="${shop.id}" th:field="*{shop}"
                                    th:text="${shop.name} + ' ' +  ${shop.address}"></option>
                        </select>
                        <p th:if="${#fields.hasErrors('shop')}" th:errors="*{shop}" th:style="'color:red'">shop
                        validation</p>
                        <br>
                        <h4>Карточка товара:</h4>
                        <div class="form-group">
                            <select class="form-control form-control-sm" id="type"
                                    onchange="changeVisibility(this.value)"
                                    name="type">
                                <option th:value="${typeItem}" th:text="${typeItem.explanation}"></option>
                                <option th:value="${typeService}" th:text="${typeService.explanation}"></option>
                            </select>
                            <label for="name">Наименование:</label>
                            <input type="text" th:field="*{name}" id="name" name="name"
                                   class="form-control form-control-sm"
                                   placeholder="" maxlength="100" required/>
                            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:style="'color:red'">name
                                validation</p>
                            <label for="purchasePrice">Цена закупки:</label>
                            <input type="text" th:field="*{purchasePrice}" id="purchasePrice" name="purchasePrice"
                                   class="form-control form-control-sm"
                                   placeholder="0.0"/>
                            <p th:if="${#fields.hasErrors('purchasePrice')}" th:errors="*{purchasePrice}"
                               th:style="'color:red'">purchasePrice
                                validation</p>
                            <label for="sellingPrice">Цена продажи:</label>
                            <input type="text" th:field="*{sellingPrice}" id="sellingPrice" name="sellingPrice"
                                   class="form-control form-control-sm"
                                   placeholder="0.0" required/>
                            <p th:if="${#fields.hasErrors('sellingPrice')}" th:errors="*{sellingPrice}"
                               th:style="'color:red'">sellingPrice validation</p>
                            <label for="measurementUnit">Единица измерения:</label>
                            <select class="form-control form-control-sm" id="measurementUnit" name="measurementUnit">
                                <option th:each="measurementUnit : ${measurementUnits}" th:value="${measurementUnit}"
                                        th:text="${measurementUnit.fullExplanation}"></option>
                            </select>
                            <label for="vendorCode">Артикул:</label>
                            <input type="text" th:field="*{vendorCode}" id="vendorCode" name="vendorCode"
                                   class="form-control form-control-sm"
                                   placeholder=""/>
                            <p th:if="${#fields.hasErrors('vendorCode')}" th:errors="*{vendorCode}"
                               th:style="'color:red'">
                                vendorCode validation</p>
                            <label for="barCode">Штрих-код:</label>
                            <input type="text" th:field="*{barCode}" id="barCode" name="barCode"
                                   class="form-control form-control-sm"
                                   placeholder=""/>
                            <p th:if="${#fields.hasErrors('barCode')}" th:errors="*{barCode}" th:style="'color:red'">
                                barCode
                                validation</p>
                            <label for="balance">Остаток:</label>
                            <input type="text" th:field="*{balance}" id="balance" name="balance"
                                   class="form-control form-control-sm" pattern="^[0-9]+(?:\.[0-9]+)?$"
                                   required/>
                            <p th:if="${#fields.hasErrors('balance')}" th:errors="*{balance}" th:style="'color:red'">
                                balance
                                validation</p>
                        </div>
                        <h3 th:if="${account.shops.empty || account.shops==null}" th:text="'Создайте магазин'"></h3>
                        <div th:if="${!account.shops.empty && account.shops!=null}">
                            <button type="submit" class="btn btn-dark">Сохранить</button>
                        </div>
                </form>
            </div>
            <div class="col-md-auto">
                <h3>Товары/Услуги:</h3>
                <div th:if="${!account.shops.empty}">
                    <ul class="list-group">
                        <li class="list-group-item " th:each="shop : ${account.shops}" th:id="'list'+${shop.id}"
                            style="display: none">
                            <div class="col-md-12 d-flex">
                                <h4 th:text="${shop.name}">Shop name</h4>
                                <a type="button" class="btn btn-dark ml-auto"
                                   th:href="@{/shops/{id}/products/file(id=${shop.id})}">Выгрузить в
                                    Excel</a>
                            </div>
                            <div class="col-md-12 d-flex">
                                <small th:text="${shop.address}"></small>
                            </div>

                            <form class="form-group" th:method="POST">
                                <table class="display table table-bordered text-center table-sm"
                                       data-page-length='25'
                                       data-order='[[1, "desc"]]'>
                                    <thead>
                                    <tr>
                                        <td><input type="checkbox" onClick="toggle(this)"/><br/></td>
                                        <td>ID</td>
                                        <td>Наименование</td>
                                        <td>Тип</td>
                                        <td>Артикул</td>
                                        <td>Цена продажи</td>
                                        <td>Цена закупки</td>
                                        <td>Остаток</td>
                                    </tr>
                                    </thead>

                                    <tbody>

                                    <tr th:if="${shop.products.empty}">
                                        <td colspan="8">Нет добавленных товаров</td>
                                    </tr>
                                    <tr id="rows" th:each="prod : ${shop.products}">

                                        <td><input type="checkbox" name="prods" th:value="${prod.id}"/></td>
                                        <td th:text="${prod.id}">id</td>
                                        <td th:text="${prod.name}">Name</td>
                                        <td th:text="${prod.type.explanation}">Type</td>
                                        <td th:text="${prod.vendorCode}">VendorCode</td>
                                        <td th:text="${prod.sellingPrice}">sellingPrice</td>
                                        <td th:text="${prod.purchasePrice}">purchasePrice</td>
                                        <td><input type="text" size="6" th:if="${prod.type.explanation=='Товар'}"
                                                   id="balances" name="balances" class="form-control form-control-sm" pattern="^[0-9]+(?:\.[0-9]+)?$"
                                                   th:placeholder="${prod.balance}"/></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="btn-toolbar mb-3" role="toolbar">
                                    <div class="btn-group btn-group-sm" role="group">
                                        <button type="submit" class="btn btn-dark"
                                                th:formaction="@{/products/deleteMany}">
                                            Удалить
                                        </button>
                                        <button type="submit" class="btn btn-dark"
                                                th:formaction="@{/products/updateBalance}">
                                            Обновить остаток
                                        </button>
                                        <button type="submit" class="btn btn-dark"
                                                th:formaction="@{/shops/{id}/products/copy(id=${shop.id})}">Копировать в
                                        </button>
                                        <div class="col-sm-5">
                                            <select class="form-control form-control-sm" name="targetShopId">
                                                <option value=""></option>
                                                <option th:each="s : ${account.shops}" th:if="${s.id!=shop.id}"
                                                        th:value="${s.id}"
                                                        th:text="${s.name}+', '+${s.address}"></option>
                                            </select>
                                        </div>
                                    </div>


                                </div>

                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </section>
    <div th:replace="fragments/layout :: footer"></div>
</main>
</body>
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" language="javascript"
        src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script>
function changeVisibility(value) {
if(value==="SERVICE"){
document.getElementById("purchasePrice").disabled=true;
document.getElementById("measurementUnit").disabled=true
document.getElementById("vendorCode").disabled=true;
document.getElementById("barCode").disabled=true;
document.getElementById("balance").disabled=true;
}
if(value==="ITEM"){
document.querySelectorAll('[disabled]')
        .forEach(e=>e.removeAttribute('disabled'));
}
}

function shopVisibility(value){
document.querySelectorAll('[class*=list-group-item]')
        .forEach( x=> x.setAttribute("style","display:none"));
document.getElementById("list"+value).style.display = "block";
}

function toggle(source) {
  checkboxes = document.getElementsByName('prods');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}

$(document).ready( function () {
$('table.display').DataTable();
} );

$('table.display').dataTable( {
  "lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "Все"] ],
  "columnDefs": [ {
      "targets": 0,
      "searchable": false,
      "orderable": false
    },
     {
      "targets": 7,
      "searchable": false,
      "orderable": false
    }],
    "language": {
        "sProcessing":    "Вычисляю...",
        "sLengthMenu":    "Показать _MENU_",
        "sZeroRecords":   "Результатов не найдено",
        "sEmptyTable":    "Результатов не найдено",
        "sInfo":          "Показано _START_ из  _TOTAL_ записей",
        "sInfoEmpty":     "Показано 0 из 0 записей",
        "sInfoFiltered":  "(Отобрано из _MAX_ записей)",
        "sInfoPostFix":   "",
        "sSearch":        "Найти:",
        "sUrl":           "",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Загружаю...",
        "oPaginate": {
            "sFirst":    "Первый",
            "sLast":    "Последний",
            "sNext":    "Вперед",
            "sPrevious": "Назад"
        },
        "oAria": {
            "sSortAscending":  ": Упорядочить по возрастанию",
            "sSortDescending": ": Упорядочить по убыванию"
        }
    }
} );
</script>
</html>
