<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/layout :: head(text='Регистрация')"></div>
<body th:style="'background: url(../images/pos_terminal.jpg)'" >
<section class="container">
    <div class="d-flex align-items-center justify-content-center" th:style="'height:100vh'">
        <div class="col-md-auto" th:style="'background-color: #F1F2F3'">
            <h1> </h1>
            <h1><img src="../images/logo.png" class="img-fluid" width="50" height="50" style="float:left">Эквайринг Кассир</h1>
            <form class="form-group mt-4" th:action="@{/accounts/registration}" th:object="${account}" method="post">
                <div class="form-group">
                    <label for="username">Логин</label>:
                    <input type="text" class="form-control" id="username" name="username" autofocus="autofocus"/>
                    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" th:style="'color:red'">Username
                        validation</p>
                    <label for="password">Пароль</label>:
                    <input type="password" class="form-control" id="password" name="password"/>
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:style="'color:red'">PWD
                        validation</p>
                    <label for="repeatPWD">Повторите пароль</label>:
                    <input type="password" class="form-control" id="repeatPWD" name="repeatPWD"/>
                    <div th:object="${accountInfo}">
                        <label for="email">Почта</label>:
                        <input type="email" class="form-control" id="email" name="email"/>
                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:style="'color:red'">email
                            validation</p>
                    </div>
                </div>
                <button type="submit" class="btn btn-dark btn-lg btn-block">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</section>
</body>
</html>