<!DOCTYPE html>
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/layout :: head(text='Shops')"></div>
<body>
<div th:replace="fragments/layout :: header"></div>

<section class="container-fluid">
    <div class="row">
        <div class="col-md-auto">
            <h3>Добавить магазин:</h3>
            <form class="form-group" th:action="@{/shops}" th:object="${shop}" method="POST">
                <div class="form-group">
                    <label for="name">Название</label>:
                    <input type="text" id="name" name="name" class="form-control"
                           placeholder="" maxlength="40" required/>
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:style="'color:red'">Name
                        validation</p>
                    <label for="city">Город</label>:
                    <input type="text" id="city" name="city" class="form-control"
                           placeholder="" maxlength="40"/>
                    <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}" th:style="'color:red'">City
                        validation</p>
                    <label for="address">Адрес</label>:
                    <input type="text" id="address" name="address" class="form-control"
                           placeholder="" maxlength="60"/>
                    <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" th:style="'color:red'">Address
                        validation</p>
                </div>
                <button type="submit" class="btn btn-dark">Создать новый магазин</button>
            </form>
        </div>
        <div class="col-md-auto">
            <div class="col-md-auto">
                <h3>Мои магазины:</h3>
                    <table class="table table-sm table-bordered table-striped text-center">
                        <thead>
                        <tr>
                            <td>Название</td>
                            <td>Адрес</td>
                            <td>Количество сотрудников</td>
                            <td>Количество терминалов</td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${shops.empty}">
                            <td colspan="5">Нет добавленных магазинов</td>
                        </tr>
                        <tr th:each="shop : ${shops}">
                            <td th:text="${shop.name}">Name</td>
                            <td th:text="${shop.city}+', '+ ${shop.address}">Location</td>
                            <td th:text="${#lists.size(shop.accounts)-1}">Amount of workers</td>
                            <td th:text="${#lists.size(shop.terminals)}">Amount of terminals</td>
                            <td>
                                <form th:action="@{/shops/{id}(id=${shop.id})}" th:method="delete"><input
                                        type="submit" value="Удалить"/></form>
                            </td>
                        </tr>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

</section>
<div th:replace="fragments/layout :: footer"></div>
</body>
</html>