<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/layout :: head(text='POS-кассир | Терминал')"></div>
<body>
<div th:replace="fragments/layout :: header"></div>
<main>
    <section class="container-fluid">
        <div class="row">
            <div class="col-md-auto">
                <h3 th:text="'TID: '+ ${terminal.tid}"> TID</h3>
                <form class="form-group" th:action="@{/terminals/{id}/test(id=${terminal.id})}" th:method="GET">
                    <button type="submit" class="btn btn-dark">Тест соединения</button>
                    <span th:if="${!terminal.transactions.empty}"
                          th:text="${terminal.transactions[0].status==true}?'Успешно':'Тест не пройден'"></span>
                </form>
                <table class="table table-bordered ">
                    <tr>
                        <td>IP-address:</td>
                        <td th:text="${terminal.ip}"></td>
                    </tr>
                    <tr>
                        <td>Заголовок чека:</td>
                        <td th:text="${terminal.chequeHeader!=null} ? ${terminal.chequeHeader}: ' '"></td>
                    </tr>
                    <tr>
                        <td>В работе:</td>
                        <td>
                            <div th:each="acc:${workAccounts}">
                                <span th:text="${acc.username}"></span>
                            </div>
                        </td>
                    </tr>
                </table>
                <form class="form-group" th:action="@{/terminals/{id}(id=${terminal.id})}" method="POST">
                    <div class="form-group">
                        <label for="ip">IP-address:</label>
                        <input type="text" id="ip" name="ip" class="form-control" th:placeholder="${terminal.ip}"
                               pattern="^[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}$"/>
                        <label for="ip">Cheque header:</label>
                        <input type="text" id="chequeHeader" name="chequeHeader" class="form-control"
                               th:placeholder="${terminal.chequeHeader}" minlength="3" maxlength="120"/>
                    </div>
                    <button type="submit" class="btn btn-dark">Обновить данные</button>
                </form>
            </div>

            <div class="col-md-auto">
                <h3> Транзакции: </h3>
                <table class="table table-hover table-responsive table-sm" id="dataTable" data-page-length='10'
                       data-order='[[3, "desc"]]'>
                    <thead>
                    <tr>
                        <td>ID</td>
                        <td>Статус</td>
                        <td>Тип</td>
                        <td>Время</td>
                        <td>Сумма</td>
                        <td>Чек</td>
                        <td>Кассир</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${terminal.transactions.empty}">
                        <td colspan="7">Операции не найдены</td>
                    </tr>
                    <tr th:each="transaction : ${terminal.transactions}">
                        <td th:text="${transaction.id}">1</td>
                        <td th:text="${transaction.status}">Status</td>
                        <td th:text="${transaction.type.explanation}">Type</td>
                        <td th:text="${transaction.dateTime}">Status</td>
                        <td th:text="${transaction.amount}">Amount</td>
                        <td style="white-space: pre-wrap;pre-wrap;font-size:10px" th:text="${transaction.cheque}">Cheque</td>
                        <td th:text="${transaction.cashier}">Cheque</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </section>
</main>

<div th:replace="fragments/layout :: footer"></div>
</body>
</html>
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" language="javascript"
        src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script language="javascript" type="text/javascript">
    $(document).ready( function () {
        $('#dataTable').DataTable();
    } );
$('#dataTable').dataTable( {
  "lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "Все"] ],
    "language": {
        "sProcessing":    "Вычисляю...",
        "sLengthMenu":    "Показать _MENU_",
        "sZeroRecords":   "Результатов не найдено",
        "sEmptyTable":    "Результатов не найдено",
        "sInfo":          "Показано _START_ из  _TOTAL_ записей",
        "sInfoEmpty":     "Показано 0 из 0 записей",
        "sInfoFiltered":  "(Отобрано из _MAX_ записей)",
        "sInfoPostFix":   "",
        "sSearch":        "Найти:",
        "sUrl":           "",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Загружаю...",
        "oPaginate": {
            "sFirst":    "Первый",
            "sLast":    "Последний",
            "sNext":    "Вперед",
            "sPrevious": "Назад"
        },
        "oAria": {
            "sSortAscending":  ": Упорядочить по возрастанию",
            "sSortDescending": ": Упорядочить по убыванию"
        }
    }
} );
</script>